<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
   <%- include('../partials/nav') %>
    

    <div class="container mt-3">
        <div class="r0w">
            <div class="col-md-12 mt-3">
                <% if (action!="undefined" && action=="edit") { %>
                    <div class="alert alert-success">
                        <%= blogid %></strong>. Blog başarıyla güncellendi.
                    </div>
                <% } %>
                <% if (action!="undefined" && action=="create") { %>
                    <div class="alert alert-success">
                        <strong>Başarılı!</strong> Blog başarıyla eklendi.
                    </div>
                <% } %>
                <% if (action!="undefined" && action=="delete") { %>
                    <div class="alert alert-danger">
                        <strong>Başarılı!</strong> Blog başarıyla silindi.
                    </div>
                <% } %>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">id</th>
                            <th style="width: 150px;">Resim</th>
                            <th>Başlık</th>
                            <th>Kategori</th>
                            <th style="width: 130px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% bloglar.forEach(blog => { %>
                            <tr>
                                <td><%= blog.id %></td>
                                <td><img src="/static/images/<%= blog.image %>" class="img-fluid" alt="" ></td>
                                <td>
                                    <%= blog.title %>
                                </td>
                                <td>
                                    <% blog.categories.forEach(category => { %>
                                        <p><%= category.name %></p>
                                    <% }) %>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn btn-primary" href="/admin/blogs/<%= blog.id %>">edit</a>
                                    <a class="btn btn-sm btn btn-danger" href="/admin/blog/delete/<%= blog.id %>">delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
